@import '../../assets/variables';
@import '../../assets/mixins';

.test_header {
  margin: auto;
  text-align: center;
  width: fit-content;
  margin-bottom: 3rem;

  h3 {
    font-size: $font-size-lrg;
  }

  .search_bar_container {
    background-color: transparent;
    display: flex;
    gap: 0.8rem;
    padding: 3rem;
  }

  #search_bar {
    width: 100%;
    padding: 1rem;
    border: solid 2px $primary_color1;
  }
}

.posts {
  @include posts(wrap, 0 1 32%);
}
