@import '../../assets/variables';

.test-header {
  margin: auto;
  text-align: center;
  width: fit-content;
  margin-bottom: 3rem;

  h3 {
    font-size: $font-size-lrg;
  }

  .search-bar-container {
    background-color: transparent;
  }

  .icon-container {
    display: none;
  }
}

.recipes {
  &.posts {
    flex-wrap: wrap;
  }

  &.post {
    flex: 0 1 32%;
  }
}
