@import '../../assets/variables';

.search-bar-container {
  background-color: $primary_color3;
  display: flex;
  gap: 0.8rem;
  padding: 3rem;

  .icon-container {
    padding: 1rem;
    background-color: $primary_color1;
    cursor: pointer;
    transition: background-color 0.5s;

    &:hover {
      background-color: $primary_color2;
    }
  }
}

.full-width {
  box-shadow: 0 0 0 100vmax $primary_color3;
  clip-path: inset(0 -100vmax);
}

.icon-search {
  font-size: 1.4rem;
}

#search-bar {
  width: 100%;
  padding: 1rem;
  border: solid 2px $primary_color1;
}
