@import '../../assets/variables.scss';

.header {
  margin-bottom: 1rem;
}

.header-name {
  display: flex !important;
  align-items: center;
  width: max-content;

  h2 {
    font-size: $font-size-lrg;
    border-bottom: dotted $primary_color3 2px;
    font-weight: 800;
  }

  &:hover h2 {
    border-color: $primary_color1;
  }

  &:hover .icon-arrow-right {
    color: $primary_color2;
  }
}

.icon-arrow-right {
  display: block;
  padding-top: 0.3rem;
  font-size: 3rem;
  color: $primary_color1;
}

// .posts {
//   display: flex;
//   gap: 1rem;
// }

// .post {
//   flex: 1 1 100%;
//   text-align: center;

//   a {
//     width: 100%;
//   }

//   img {
//     width: inherit;
//     height: 20rem;
//     transition: box-shadow 0.4s;

//     &:hover {
//       box-shadow: 5px 5px 5px $primary_color1;
//     }
//   }
// }

// .recipe-description {
//   font-size: $font-size-medium;

//   &:hover {
//     color: $primary_color1;
//     text-decoration: underline;
//   }
// }

.quick-recipes {
  margin-bottom: 0;
}
