@import '../../assets/variables';

.animate__animated.animate__flipInX {
  --animate-duration: 0.5s;
}

.icon_arrow_down,
.icon_arrow_up {
  position: absolute;
  top: 0.3rem;
  left: 4.2rem;
  font-size: 1.2rem;
  color: $primary_color1;
}

.mobile {
  display: none;
}

.close_btn {
  font-size: 1.8rem;
}

.toggle_btn {
  padding: 1rem;

  span {
    width: 2rem;
    background-color: black;
    height: 0.3rem;
  }
}

.close_btn {
  position: absolute;
  top: 0.5rem;
  right: 0.75rem;
}

.no_underline {
  text-decoration: none;
}

.hide {
  display: none;
}

.website_name {
  // margin-right: 5rem;
  a {
    font-size: 1.4rem !important;
    font-weight: 700 !important;
  }
}

.navbar_links {
  display: flex;
  // gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.5rem;

  li {
    list-style-type: none;
  }

  a {
    font-size: 1.2rem;
    font-weight: 500;
  }

  .link:hover {
    color: $primary_color1;
    text-decoration: underline;
  }
}

.dropdown {
  position: relative;
  margin-right: 1.2rem;

  a {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  // &:hover .dropdown-content {
  //   display: flex;
  // }
}

.dropdown_content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 2rem;
  left: 1.5rem;
  z-index: 1;
  background-color: white;
  border: 1px solid $primary_color1;

  li {
    width: 100%;
    padding: 0.5rem 5rem 1rem 1rem;
  }

  a {
    font-size: 1rem;
    white-space: nowrap;
  }

  li:hover {
    background-color: $primary_color1;
  }

  a:hover {
    text-decoration: underline;
  }

  li:nth-child(5) a {
    font-weight: 700;
  }
}

@media screen and (max-width: 800px) {
  body {
    position: relative;
  }

  .mobile {
    display: block;
  }

  .toggle_btn {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
  }

  hr {
    display: none;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar_links.hide {
    display: none;
  }

  .navbar_links.show {
    display: flex;
  }

  .navbar_links {
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;
    gap: 4rem;
    position: absolute;
    right: 0;
    top: 0;
    width: min(100%, 20rem);
    height: max-content;
    padding: 3rem 0 3rem 1rem;
    background-color: #333;
    color: white;
    z-index: 1;

    .website_name {
      display: none;
    }

    a {
      color: white;
    }
  }

  .dropdown_content {
    position: static;
    width: 15rem;

    a {
      color: black;
    }
  }
}
