@import '../../../../assets/variables';

.container {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  padding: 0 10rem;
  margin-bottom: 100rem;

  .header {
    border-bottom: 2px solid $primary-color1;
    width: 40rem;
  }

  .commentSection {
    width: 40rem;

    .star {
      cursor: pointer;
    }

    .commentSectionForm,
    .replyFormContainer {
      display: flex;
      flex-direction: column;
      padding: 1rem 2rem;
      gap: 2rem;

      input {
        font-size: 1.2rem;
        padding: 0.5rem;
      }

      textarea {
        resize: vertical;
      }

      label {
        font-size: 1.2rem;
      }

      .ratingInput {
        display: none;
      }

      .nameInputContainer,
      .commentInputContainer {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
      }

      .submitButtonContainer {
        margin: auto;
        .submit {
          padding: 0.5rem 3rem;
          font-size: 1.5rem;
          cursor: pointer;
          background-color: $primary-color1;
          border: none;

          &:hover {
            color: white;
          }
        }
      }
    }

    // .replyComments {
    //   margin-left: 2rem;
    // }

    .comments,
    .replyComments {
      margin-top: 3rem;
      font-size: 1.1rem;

      .header {
        border-bottom: 2px solid $primary-color1;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          margin: 1rem 0;
        }

        .your_comment {
          font-style: italic;
          font-weight: 500;
          padding: 0 0 0.3rem 1rem;
          font-size: 0.9rem;
        }

        .replyComment {
          margin-left: 2rem;
        }

        .comment,
        .replyComment {
          padding: 1rem;
          border: 1px solid gray;
          border-radius: 0.5rem;
        }
      }

      .commentHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .commentText {
        margin: 1rem 0;
      }

      .ratingContainer {
        svg {
          color: #ffc107;
        }
      }

      .commentIcons {
        display: flex;
        gap: 2rem;
        margin-top: 1rem;

        button {
          background: none;
          border: none;
          display: flex;
          align-items: center;
          gap: 0.3rem;

          &:hover {
            cursor: pointer;
          }

          p {
            font-size: 1.1rem;
          }

          svg {
            width: 1.3rem;
            height: 1.3rem;
          }
        }
        .delete_button {
          margin-left: auto;

          &:hover {
            color: red;
          }
        }
      }
    }
  }

  //   ul {
  //     list-style: none;
  //     margin: 0;
  //     padding: 0;
  //   }

  //   li {
  //     margin: 1rem 0;
  //     padding: 1rem;
  //     border: 1px solid gray;
  //     border-radius: 0.5rem;
  //   }

  //   .commentHeader {
  //     display: flex;
  //     justify-content: space-between;
  //     align-items: center;
  //   }

  //   .commentText {
  //     margin: 1rem 0;
  //   }

  //   .commentIcons {
  //     display: flex;
  //     justify-content: flex-end;
  //     margin-top: 1rem;

  //     button {
  //       background: none;
  //       border: none;
  //       margin-left: 1rem;

  //       &:hover {
  //         cursor: pointer;
  //       }

  //       svg {
  //         width: 1.5rem;
  //         height: 1.5rem;
  //       }
  //     }
  //   }
}
