@import './variables';

@mixin posts($wrap, $flex) {
  display: flex;
  gap: 1rem;
  flex-wrap: $wrap;

  .post {
    flex: $flex;
    text-align: center;

    a {
      width: 100%;
    }

    img {
      width: inherit;
      height: 20rem;
      transition: box-shadow 0.4s;

      &:hover {
        box-shadow: 5px 5px 5px $primary_color1;
      }
    }
  }

  .recipe_description {
    font-size: $font-size-medium;

    &:hover {
      color: $primary_color1;
      text-decoration: underline;
    }
  }
}

@mixin extensions {
  margin-bottom: 1rem;

  .extension_name {
    display: flex !important;
    align-items: center;
    width: fit-content;

    h2 {
      font-size: $font-size-lrg;
      border-bottom: dotted $primary_color3 2px;
      font-weight: 800;
    }

    &:hover h2 {
      border-color: $primary_color1;
    }

    .icon_arrow_right {
      display: block;
      padding-top: 0.3rem;
      font-size: 3rem;
      color: $primary_color1;
    }

    &:hover .icon_arrow_right {
      color: $primary_color2;
    }
  }
}
