@import './variables';

@mixin posts($wrap, $flex) {
  display: flex;
  gap: 1rem;
  flex-wrap: $wrap;

  .post {
    flex: $flex;
    text-align: center;

    div {
      position: relative;

      .icon_heart_noFill {
        position: absolute;
        z-index: 1;
        font-size: 3rem;
        color: red;
        cursor: pointer;
        bottom: 0.5rem;
        right: 1rem;

        &:focus-visible {
          color: black;
          outline: none;
        }
      }
    }

    a {
      width: 100%;
    }

    img {
      width: inherit;
      height: 20rem;
      transition: box-shadow 0.4s;

      &:hover,
      &:focus-visible {
        box-shadow: 5px 5px 5px $primary_color1;
        outline: none;
      }
    }
  }

  .recipe_description {
    font-size: $font-size-medium;

    &:hover,
    &:focus-visible {
      color: $primary_color1;
      text-decoration: underline;
      outline: none;
    }
  }
}

@mixin extensions {
  margin-bottom: 1rem;

  .extension_name {
    display: flex !important;
    align-items: center;
    width: fit-content;

    &:focus-visible {
      color: $primary-color1;
      outline: none;
    }

    h2 {
      font-size: $font-size-lrg;
      border-bottom: dotted $primary_color3 2px;
      font-weight: 800;

      &:hover {
        border-color: $primary_color1;
      }
    }

    &:hover h2 {
      border-color: $primary_color1;
      outline: none;
    }

    .icon_arrow_right {
      display: block;
      padding-top: 0.3rem;
      font-size: 3rem;
      color: $primary_color1;
    }

    &:hover .icon_arrow_right {
      color: $primary_color2;
    }
  }
}

@mixin LoginSignUp {
  .box {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      margin-bottom: 2rem;
      font-size: 2.5rem;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30rem;
      padding: 2rem;
      background-color: #fff;
      border-radius: 1rem;
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);

      .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 1rem;
      }

      label {
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
      }

      input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px #f5f5f5 inset !important;
        -webkit-text-fill-color: #333 !important;
        background-color: transparent !important;
      }

      input {
        font-size: 1.2rem;
        padding: 0.5rem;
        border: none;
        background-color: transparent;

        &:focus {
          outline: none;
        }
      }

      .invalidInput {
        border: #f00 solid;
      }

      .validInput {
        border: green solid;
      }

      .labelWrapper {
        display: flex;

        span {
          margin-left: auto;
          display: flex;
          gap: 0.3rem;

          a {
            color: $primary-color1;
          }
        }
      }

      .emailInputContainer,
      .usernameInputContainer {
        margin-bottom: 0.5rem;
        background-color: #f5f5f5;
        border-radius: 0.5rem;
        box-shadow: none;
        width: 100%;

        &:focus-within {
          box-shadow: 0px 0px 4px #ccc;
          outline: none;
        }

        input {
          width: 100%;
          border-radius: 0.5rem;
        }
      }

      .passwordInputContainer {
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;
        background-color: #f5f5f5;
        border-radius: 0.5rem;
        box-shadow: none;
        width: 100%;

        &:focus-within {
          box-shadow: 0px 0px 4px #ccc;
          outline: none;
        }

        input {
          flex: 1 1 90%;
          &:focus {
            outline: none;
            box-shadow: none;
          }
        }

        .showPasswordButton {
          margin-left: auto;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          border: none;
          background-color: transparent;
          font-size: 1.3rem;
          color: #666;
          cursor: pointer;
          margin-right: 0.5rem;

          &:focus {
            outline: none;
          }
        }
      }

      .loginButton {
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
        background-color: #008080;
        color: #fff;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
        width: 100%;

        &:hover {
          background-color: #006666;
        }
      }
    }

    .errorMessage {
      align-self: flex-start;
      // margin-top: 1rem;
      font-size: 1.2rem;
      color: #ff0000;
    }
  }
}
