@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

section {
  margin-bottom: 7rem;
}

hr {
  width: 100%;
  height: 1px;
  background-color: var(--primary_color1);
  border: none;
  position: absolute;
  left: 0;
  top: 5rem;
}

.wrapper {
  padding: 2rem;
}

:root {
  --primary_color1: #ff9f1c;
  --primary_color2: #8f5300;
  --primary_color3: #080357;

  --font-size-lrg: 2rem;
  --font-size-medium: 1.5rem;
}

.animate__animated.animate__flipInX {
  --animate-duration: 0.5s;
}

/* .hide {
  display: none;
}
@media screen and (max-width: 800px) {
  .hide {
    display: none;
  }

  .show {
    display: flex;
  }
} */

/* Posts */

/* .posts {
  display: flex;
  gap: 1rem;
}

.post {
  flex: 1 1 100%;
  text-align: center;
}

.post a {
  width: 100%;
}

.post img {
  width: inherit;
  height: 20rem;
  transition: box-shadow 0.4s;
}

.post img:hover {
  box-shadow: 5px 5px 5px var(--primary_color1);
}

.recipe-description {
  font-size: var(--font-size-medium);
}

.recipe-description:hover {
  color: var(--primary_color1);
  text-decoration: underline;
} */

/* Extensions */

/* .extensions {
  margin-bottom: 1rem;
}

.extension-name {
  display: flex !important;
  align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.extension-name h2 {
  font-size: var(--font-size-lrg);
  border-bottom: dotted var(--primary_color3) 2px;
  font-weight: 800;
}
.extension-name:hover h2 {
  border-color: var(--primary_color1);
}
.extension-name:hover .icon-arrow-right {
  color: var(--primary_color2);
}

.icon-arrow-right {
  display: block;
  padding-top: 0.3rem;
  font-size: 3rem;
  color: var(--primary_color1);
} */

/* End Posts */
